<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Website title -->
        <title>Self Service Portal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="robots" content="noindex,nofollow">
        <!-- Set Favicon -->
        <link rel="shortcut icon" href="/images/favicon.ico" />        
        <!-- Import css style -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- Import bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Import jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- Import popper js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <!-- Import Bootstrap 4.0.0 js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <!-- Header-->
            <header>
                <div class="row">
                    <!-- Header title -->
                    <div class="col-8 pt-3">
                        <h3>Self Service Portal</h3>
                    </div>
                    <!-- Logout button-->
                    <div class="col-3 pt-3 text-right">
                        <form method="POST" action="/logout">
                            <button type="submit" class="btn btn-color">Log out</button>
                        </form>
                    </div>
                </div>
            </header>

            <!-- Sub-header -->
            <div class="row mt-2">
                <!-- Greeting the user -->
                <div class="col-md-5">
                    <br><h3>Welcome <%= user.fullname%></h3>
                </div>
                <!-- Show an alert message if exists -->
                <div class="col-md-6">
                    <% if (alert != "") { %>
                            <div class="alert <%- alert[1] %> alert-dismissable fade show" id="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><%- alert[2] %></span>
                                </button>
                                <%- alert[0] %>
                            </div>
                        <% }; %>
                </div>
            </div>

            <!-- Row -->
            <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                    <!-- Preference selection card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            Template selection
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Information about the preference selection options -->
                            <p>Below you can select your preferred hosting application with a database if required. There are several options provided and you can select various combinations.</p>
                            
                            <!-- Divider -->
                            <div class="divider d-flex align-items-center my-1"></div>
                            
                            <!-- Form where users can select there preference -->
                            <form method="POST" action="/setOptions" onchange="checkOption();" class="mt-2">
                                <!-- Select attribute for the hosting application -->
                                <label for="webserver">Hosting application:</label>
                                <select name="webserver" id="webserver">
                                    <option value="Apache">Apache2</option>
                                    <option value="Wordpress">Wordpress</option>
                                    <!--<option value="NodeJS">NodeJS</option>-->
                                </select>
                                <!-- Break to space the two select attributes-->
                                <br>
                                <!-- Select attribute for the database -->
                                <label for="database">Database:</label>
                                <select name="database" id="database">
                                    <option value="MySQL">MySQL</option>
                                    <!--<option value="MariaDB">MariaDB</option>-->
                                    <option value="nDB">No database</option>
                                </select>
                                <!-- Button to submit the form -->
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-color">Save type</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Project files card -->
                    <div class="card" id="projectfiles">
                        <!-- Card header -->
                        <div class="card-header">
                            Project files
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Information about the upload methods -->
                            <p>We provide two methods to upload your project files. Using your github repository link or by file drop upload.</p>
                            <!-- Select attribute to select the desired upload method -->
                            <label for="uploadMethod">Select your desired upload method:</label>
                            <select name="uploadMethod" id="uploadMethod" onchange="checkUploadmethod();">
                                <option value="github">Github</option>
                                <option value="filedrop">File drop</option>
                            </select>

                            <!-- Divider -->
                            <div class="divider d-flex align-items-center my-1"></div>

                            <!-- Information for the github upload method -->
                            <div id="github">
                                <p>Submit the url of the Github repository and click the submit files button</p>
                                <!-- Form where the user can insert the github url and submit the form -->
                                <form method="POST" action="/submitFiles">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text">Github url</span>
                                        <input type="url" class="form-control" name="github-url" placeholder="https://github.com/username/repo/project.git" required>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" id="uploadButton" class="btn btn-color">Submit files</button>
                                    </div>
                                </form>
                            </div>

                            <!-- Information for the filedrop upload method -->
                            <div id="filedrop" style="display: none;">
                                <p>The upload is password protected, check the box to show the password. Copy the password and click the Upload files button.</p>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text">Password</span>
                                    <input type="password" id="password" class="form-control" value="<%= user.files_pass %>" data-toggle="password" autocomplete="false" readonly>
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="Show password" onclick="showPassword();">
                                    </div>
                                </div>
                                <br>
                                <!-- Button to show the filedrop iframe -->
                                <div class="d-flex justify-content-end">
					<form method="post" action="/nextcloudUpload">
                                    <button type="submit" id="uploadButton" class="btn btn-color">Upload files</button>
					</form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Instance status card-->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            Start/Stop Instance
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Information about how to start an instance-->
                            <p>You can start a new instance after the old one has expired. When you start an instance it will be available for 2 hours.</p>    
			    <!-- Form to start the instance -->
                            <form method="POST" action="/startInstance" id="instanceForm">
				    <div id="wordpressProgress">
	                                    <label for="checkbox">Delete wordpress progress:</label>
        	                            <input type="checkbox" id="checkbox" name="checkbox" value="delete">
                		    </div>                
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-success float-right" id="instanceButton">Start instance</button>
                                </div>
                            </form>    
                        </div>
                    </div>

                </div>


                <!-- Right column -->
                <div class="col-md-5">   
                    <!-- Instance information card -->
                    <div class="card">
                        <!-- Card header-->
                        <div class="card-header">
                            Environment information
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Table to inform the user with information about there environment -->
                            <table>
                                <!-- Domainname-->
                                <tr>
                                    <td>Domainname</td>
                                    <td><a href="<%= info.domain_name %>" target="_blank"><%= info.domain_name %></a></td>
                                </tr>
                                <!-- Hosting application -->
                                <tr>
                                    <td>Hosting application</td>
                                    <td><%= info.instance_type %></td>
                                </tr>
                                <!-- Database -->
                                <tr>
                                    <td>Database</td>
                                    <td><%= info.database %></td>
                                </tr>
				<% if (info.tmp_database != "") { %>
                                <!-- Database host -->
                                <tr>
                                    <td>Database hostname</td>
                                    <td>database</td>
                                </tr>
                                <!-- Database username -->
                                <tr>
                                    <td><%- info.database %> username</td>
                                    <td><%- info.username %></td>
                                </tr>
                                <!-- Database password -->
                                <tr>
                                    <td><%- info.database %> password</td>
                                    <td><%- info.password %></td>
                                </tr>
				<% }; %>
                            </table>    
                        </div>
                    </div>     

                    <!-- Instance timer card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            Instance timer
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Information about the instance timer -->
                            <p>We use a fair use policy so everyone had a chance to host there project. Therefor we choose to use shutdown every instance after 2 hours.</p>
                            <!-- Element to show the timer -->
                            <div class="d-flex justify-content-center">
                                <p id="timer">No running instance...</p>
                            </div>    
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Monitoring
                        </div>
			<div class="card-body">
			   <p>Information about the running instance is visualised below. Information about the percentage of cpu usage and memory usage in MBs are shown. Every 10 seconds the information will be updated automatically.</p>
			   <iframe src="https://pte2.tech/monitoring" style="height:120px;width:250px;display:block;margin-right:auto;margin-left:auto;" frameBorder="0" scrolling="no"></iframe>
                        </div>
                    </div>
	
		    <div class="card">
			<div class="card-header">
				Reset account
			</div>
			<div class="card-body">
				<p>Encountering any problems? Try to reset your account. Resetting your account will delete al your personal data, files and other progress. Use with care!</p>
				<form action="/offboard" method="POST">
					<div class="d-flex justify-content-end">
						<button type="submit" class="btn btn-danger">Reset account</button>
					</div>
				</form>
			</div>
		    </div>

                </div>
            </div>

            <!-- Files upload modal -->
            <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                      <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <!-- Iframe element -->
                            <iframe class="embed-responsive-item" src="<%= user.files_url %>" allowfullscreen></iframe>
                            <form class="d-none" method="post" action="/filesUploaded">
                                <button type="submit" id="uploadFiles"></button>
                            </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- Website intro -->
            <div class="modal fade" id="modalIntro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">         
                  <!--Content-->
                  <div class="modal-content">
                      <!--Body-->
                      <div class="modal-body mb-10 p-10">
                        <!-- Modal's first view -->
                        <div id="modalBodyFirst">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 style="color: #663366; font-weight: bold;">Welcome to the MediaDesign Self Service Portal.</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <p>By using the self-service portal, it is very easy to roll out your web project and to test the functionality.</p>
                            
                                <h3><span class="badge rounded-pill btn-color">Step 1</span></h3>
                                    <p>Choose your hosting application and a database if needed.</p>

                                <h3><span class="badge rounded-pill btn-color">Step 2</span></h3>
                                    <p>Upload your project files or provide a Github URL.</p>

                                <h3><span class="badge rounded-pill btn-color">Step 3</span></h3>
                                    <p>Confirm your choices by starting the instance. Your project is available at your own subdomain.</p>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-color" id="modalIntroFirst">Next</button>
                            </div>
                        </div>
                        <!-- Modal's second view -->
                        <div id="modalBodySecond" style="display: none;">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 style="color: #663366; font-weight: bold;">Welcome to the MediaDesign Self Service Portal.</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <p>Using the Self Service Portal it is possible to host your project for a time period of 2 hours. After that, your instance will be stopped and you may launch a new instance if necessary.</p>
                                <p>As the Self Service Portal is used by a large number of students, we have a fair use policy. Please follow the rules and adhere to the network.</p>
    
                                <h5>Fair use policy</h5>
    
                                <ol>
                                    <li>Your instance will be stopped in 2 hours, if you have finished before the timer expires please stop the instance.</li>
                                    <li>Use only the Self Service Portal for school projects! Your account will be blocked if you do not.</li>
                                </ol>
                            </div>
                            <!-- Modal footer-->
                            <div class="modal-footer">
				<form method="post" action="/introDone">
	                                <button type="submit" class="btn btn-color" id="modalIntroSecond">Start exploring</button>
        			</form>
	                    </div>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
        
    </div> 
    <footer class="bg-ligth text-center text-lg-start">
        <div class="text-center p-3" style="background-color: #663366; color: white;">
            <span id="footer"></span>
        </div>
    </footer>
</body>
    <script>
        //If user visits for the first time show the Intromodal
        if ('<%= user.active %>' == 0) {
            //Create event listerner for when the page is loaded
            window.addEventListener('load', function(event) {
                //When the page is loaded show the intro modal
                $('#modalIntro').modal('show');
            });
        };  

	var hasParam = window.location.href.indexOf('?#modalUpload');

	if (hasParam != -1) {
		$('#modalUpload').modal('show');
	} else {
		$('#modalUpload').modal('hide');
	}
        
        //Define multiple variables for showing the intro modal and the data
        const modalIntroFirst = document.getElementById('modalIntroFirst');
        const modalIntroSecond = document.getElementById('modalIntroSecond');
        const modalFirstBody = document.getElementById('modalBodyFirst');
        const modalSecondBody = document.getElementById('modalBodySecond');

        //Event listener to check if the next button is clicked
        modalIntroFirst.addEventListener('click', function() {
            //When clicked change display to none and block
            modalFirstBody.style.display = 'none';
            modalSecondBody.style.display = 'block';
        });
        
        //Event listener for when the start exploring button is clicked
        modalIntroSecond.addEventListener('click', function() {
            //Make get request when the Intro had been completed
            fetch(window.location.href + '/introDone')
            //Reload the window
            .then(() => {document.location.reload()});
        });

        //Remove alert after few seconds
        $('#alert').delay(20000).fadeOut(500);

        //Define multiple variables for the preference selection  
        const webserverOption = document.getElementById('webserver');
        const databaseOption = document.getElementById('database');
        const selectedDatabase = '<%= info.tmp_database %>';
	const wordpressProgress = document.getElementById('wordpressProgress');
	const projectfilesView = document.getElementById('projectfiles');

        //Show the currently selected options
        webserverOption.value = '<%= info.tmp_instance_type %>';
        if (!selectedDatabase) {
            databaseOption.value = 'nDB';
        } else {
            databaseOption.value = selectedDatabase;
        }

        //Check if the selected option is wordpress
        if(webserverOption.value === 'Wordpress') {
            //Disable the database option
            databaseOption.disabled = true;
	    wordpressProgress.style.visibility = 'block';
	    projectfilesView.style.display = 'none';
        } else {
	    wordpressProgress.style.visibility = 'hidden';
	    projectfilesView.style.display = 'hidden';
	}

        //This function is called when the select option changes
        function checkOption() {
            //Define variables for inside the function
            var webserverOption = document.getElementById('webserver');
            var databaseOption = document.getElementById('database');
            //Check if the selected option is wordpress
            if (webserverOption.value == 'Wordpress') {
                //Disable the database option
                databaseOption.disabled = true;
            }
            else {
                //Enable the database option
                databaseOption.disabled = false;
		wordpressProgress.style.visibility = 'hidden';
            }
        }

        //Define multiple variables for the upload method  
        const optionUploadmethod = document.getElementById('uploadMethod');
        const githubUpload = document.getElementById('github');
        const filedropUpload = document.getElementById('filedrop');

        //This function is called when the select option changes
        function checkUploadmethod() {
            //Check wat the newly selected option is and show the information
            if (optionUploadmethod.value == 'github') {
                githubUpload.style.display = 'block';
                filedropUpload.style.display = 'none';
            }
            else if (optionUploadmethod.value == 'filedrop') {
                filedropUpload.style.display = 'block';
                githubUpload.style.display = 'none';
            }
        }

        checkUploadmethod();

        //This function is called when the checkbox is changed
        function showPassword() {
            var passwordField = document.getElementById('password');

            if(passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }

        //Detect when there is an click event
        window.onclick = async function(event) {
            //Check if the click was outside the modal
            if (event.target == document.getElementById('modalUpload')) {
                //Click the uploadFiles button
                document.getElementById('uploadFiles').click();
            }
        }

        //Variable where the valid until time is saved
        const validUntil = new Date('<%= info.valid_until %>').getTime();

        //Save instance start/stop elements in variables
        const instanceButton = document.getElementById('instanceButton');
        const instanceForm = document.getElementById('instanceForm'); 
   
        //Create an interval function
        var x = setInterval(function() {
            //Instantiate a variable for the timer element
            var timer = document.getElementById('timer');
            //Instantiate a variable for the current time 
            var now = new Date().getTime();
            //Calculate the difference between the valid until time and current
            var diff = validUntil - now;
            //Calculate the hours, minutes, seconds left
            var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 *60));
            var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((diff % (1000 * 60)) / 1000);
            //Get the timer element and put the calculated time inside the element
	    document.title = "Self Service Portal - " + hours + ":" + minutes + ":" + seconds;
            timer.innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
            //Check if the instance running time has been expired
            if (diff < 1000 && diff > 0) {
                //When timeleft is 1 seconds stop the instance
                instanceButton.click();
            }
            //Check if the time left is less then 30 minutes
            if (diff < 1800000) {
                //Change the timer color to red
                timer.style.color = "red";
            }
            //Check if there is no time left
	    if (isNaN(diff)) {
		timer.innerHTML = 'No running instance...';
		document.title = "Self Service Portal";
	    }
            else if (diff < 0) {
                //Clear the interval function
                clearInterval(x);
                timer.style.color = "red";
                //Set the timer text to INSTANCE EXPIRED
                timer.innerHTML = 'INSTANCE EXPIRED';
		document.title = "Self Service Portal";
            } else {
                //When the instance is running 
                //Change the button text to stop instance
                instanceButton.innerHTML = 'Stop Instance';
                //Change the button color
                instanceButton.className = 'btn btn-danger';
                //Change the form action so the instance stops when clicked
                instanceForm.action = '/stopInstance'; 
		wordpressProgress.style.visibility = 'hidden';
            }
            //Run this function every second
        }, 1000);

        //Insert the footer text
        const footer = document.getElementById('footer');
        footer.innerHTML = '&#169;' + new Date().getFullYear() + ' - ' + window.location.hostname;
    </script>
</html>
